<div class="container-fluid">
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h4>{{question.question}}</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <form>
                <button class="btn-lg btn-default" name='ans' type="submit" value="A" formmethod="POST">A. {{question.opta}}</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <button class="btn-lg btn-default" name='ans' type="submit" value="B" formmethod="POST">B. {{question.optb}}</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <button class="btn-lg btn-default" name='ans' type="submit" value="C" formmethod="POST">C. {{question.optc}}</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <button class="btn-lg btn-default" name='ans' type="submit" value="D" formmethod="POST">D. {{question.optd}}</button>
            </form>
            <br>
            <br>
        </div>
    </div>
</div>